html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-alert {
    position: fixed;
    z-index: 9999;
    width: 420px;
    top: 10px;
    left: 10px;
}