@model BasicProfileViewModel

@{
    ViewData["Title"] = "Add Basic Profile Info";
}

<div cllas="page">
    <h1 class="page-title">Add Basic Profile</h1>
    <div class="page-content">
        <form asp-controller="BasicProfile" asp-action="Store" method="post">
            <div class="row">
                <div class="col-4">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="MiddleName" class="form-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="DateOfBirth" class="form-label"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="Country" class="form-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="Street" class="form-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="ApartmentNumber" class="form-label"></label>
                    <input asp-for="ApartmentNumber" class="form-control" />
                    <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="my-3">
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>